# Backend API URL
VITE_BACKEND_SERVICE_URL=localhost:5000/api/v1

# OpenWeatherMap API Key
VITE_OPENWEATHER_API_KEY="your_openweathermap_api_key_here"

# Google Maps API Key
VITE_GOOGLE_MAPS_API_KEY="your_google_maps_api_key_here"